.btn {
  display: inline-block;
  text-decoration: none;
  padding: 1rem 4rem;
  margin-right: 3rem;
  position: relative;
}

$btn-colors: 'primary' 'dark';

@each $color in $btn-colors {
  .btn-#{$color} {
    background-color: map-get($colors, $color);
    color: white;
    transition: background-color 0.3s ease;

    &:hover {
      background-color: lighten(map-get($colors, $color), 15%);
    }
  }
}


.btn-close {
  z-index: 500;
  position: absolute;
  text-decoration: none;
  top: 2rem;
  padding: 0;
  margin: 0;
  height: 4rem;
  width: 4rem;
  display: flex;
  align-items: center;
  justify-content: center;

  &.white {
    background-color: white;
    color: map-get($colors, primary) !important;

    &:hover {
      color: map-get($colors, primary) !important;
      text-decoration: none;
    }
  }

  &.primary {
    background-color: map-get($colors, primary);
    color: white !important;

    &:hover {
      color: white !important;
      text-decoration: none;
    }
  }

  &.left {
    left: 2rem;
  }

  &.right {
    right: 2rem;
  }
}
