@mixin triangle($vert, $horiz, $unit, $color) {
  #{$vert}: -$unit;
  #{$horiz}: -$unit;
  $sides: 'left' 'top' 'right' 'bottom';
  @each $side in $sides {
    @if $side == $vert or $side == $horiz {
      @if $color != null {
        border-#{$side}: (2 * $unit) solid $color;
      } @else {
        border-#{$side}: (2 * $unit) solid map-get($colors, bg);
      }
    } @else {
      border-#{$side}: (2 * $unit) solid transparent;
    }
  }
}

@mixin cornersBuilder ($sides, $size, $color:null) {
  @each $L1, $vertical in $sides {
    @each $L2, $horizontal in $sides {
      @if ($L1 != $L2) {
        &.#{$L1}#{$L2} {
          @include triangle($vertical, $horizontal, $size, $color);
        }
      }
    }
  }
}

// Triangle cutout
$sides: ('t', 'top'), ('l', 'left'), ('b', 'bottom'), ('r', 'right');
$tSize: 7px;
.triangle {
  position: absolute;
  z-index: 0;

  &.small {
    @include cornersBuilder($sides, $tSize);

    &.white {
      @include cornersBuilder($sides, $tSize, white);
    }
  }
  &.big {
    @include cornersBuilder($sides, ($tSize * 3));

    &.white {
      @include cornersBuilder($sides, ($tSize * 3), white);
    }
  }
}

// Pointer sticking out
.pointer {
  position: absolute;
  z-index: 0;

  &.tl {
    bottom: 0;
    left: 100%;
    border-left: 10px solid white;
    border-top: 20px solid transparent;
    border-bottom: 10px solid transparent;
    border-right: 20px solid transparent;
  }

  &.tr {
    bottom: 0;
    right: 100%;
    border-right: 10px solid white;
    border-top: 20px solid transparent;
    border-bottom: 10px solid transparent;
    border-left: 20px solid transparent;
  }

  &.bl {
    top: 0;
    left: 100%;
    border-left: 10px solid white;
    border-bottom: 20px solid transparent;
    border-top: 10px solid transparent;
    border-right: 20px solid transparent;
  }

  &.br {
    top: 0;
    right: 100%;
    border-right: 10px solid white;
    border-bottom: 20px solid transparent;
    border-top: 10px solid transparent;
    border-left: 20px solid transparent;
  }
}
