.person {
  margin-top: 8rem;

  &.right {
    .blk {
      text-align: right;
    }
    .img {
      float: right;
      margin-left: 4rem;
    }
  }

  &.left {
    .blk {
      text-align: left;
    }
    .img {
      float: left;
      margin-right: 4rem;
    }
  }

  .info {
    text-align: justify;

    .name {
      font-size: 3rem;
      margin-bottom: 1rem;
      color: map-get($colors, dark);
    }

    .img {
      width: 20%;
      position: relative;

      img {
        width: 100%;
      }
    }

    &.lg-img {
      .img {
        width: 30%;
      }
    }

    p {
      margin: 0;

      &.name {
        margin-bottom: 0.5rem;

        a {
          font-size: 2.3rem;
          text-decoration: none;
          font-weight: bold;
          margin-bottom: 1rem;

          &:hover {
            text-decoration: none;
          }
        }
      }

      &.title {
        font-style: italic;
        font-size: 1.7rem;
      }
    }

    & .description {
      margin-top: 3rem;
      font-size: 1.6rem;

      p {
        margin-bottom: 1rem;
        text-indent: 3rem;
      }
    }
  }

  &.small {
    position: relative;
    display: inline-block;
    width: 20%;
    margin: 4rem 2rem;
    cursor: pointer;

    &:hover {
      .img {
        background-size: 110%;
      }
      .name {
        padding-top: 5rem;
        padding-bottom: 3rem;
      }
    }

    .img {
      width: 100%;
      position: relative;
      padding-top: 150%;
      background-position: center;
      background-size: 100%;
      height: 0;
      transition: background-size 0.5s ease;
    }

    .name {
      position: absolute;
      bottom: 0;
      background: linear-gradient(to top, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0.8) 50%, rgba(255, 255, 255, 0));
      margin: 0;
      padding: 4rem 1.5rem 2rem 1.5rem;
      font-size: 2rem;
      text-align: center;
      width: 100%;
      box-sizing: border-box;
      transition: padding-top 0.5s ease, padding-bottom 0.5s ease;
    }
  }
}


.person-popup {
  position: fixed;
  width: 60%;
  height: 65%;
  padding: 0;
  box-shadow: 0 0 30px #333;
  top: 17.5%;
  left: 20%;
}
