html {
  font-size: 52%;

  &, body, #app {
    font-family: 'Montserrat', sans-serif;
    overflow: hidden;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
  }
}

h1, h2, h3, h4, h5, h6, .lead {
  font-family: 'Raleway', sans-serif;
}
