@import url('https://fonts.googleapis.com/css?family=Montserrat|Raleway');

html {
  font-size: 52%;

  &, body, #app {
    font-family: 'Montserrat', sans-serif;
  }
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Raleway', sans-serif;
}

.big-title {
  margin: 0;
  font-size: 6rem;
  color: map-get($colors, dark);
}

.small-title {
  font-size: 3rem;
  font-weight: normal;
  color: map-get($colors, dark);
  margin: 0;
}

#pages {
  font-size: 200%;
}
