$colors: (
  primary: rgba(3, 94, 123, 1),
  secondary: rgba(187, 218, 232, 1),
  tertiary: rgba(210, 242, 220, 1),
  lightgray: rgba(134, 154, 165, 1),
  dark: darken(rgba(3, 94, 123, 1), 10%),
  light: rgba(220, 220, 220, 1),
  bg: #dddddd
);

$sides: ('t', 'top'), ('l', 'left'), ('b', 'bottom'), ('r', 'right');
$tSize: 7px;
$pSize: 10px;
$bsSize: 0.6rem;
$bbSize: 2rem - $bsSize;
